$headline:    #F25C43;
$white:       #FFF;
$gray:        #666;
$background:  #30353D;
$greybar:     #F5F6F6;
$red:         #E65C43;

$img-social-media:  url('../images/social-media.png');
$img-logo:          url('../images/logo.png');
$img-bg:            url('../images/bg.gif');